body {
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.section-heading {
    transition: color 0.5s;
}

body.dark-mode .section-heading {
    color: #fff;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.clover {
    position: absolute;
    width: 60px; /* サイズは適宜調整してください */
    height: 60px;
    background-image: url('clover.png'); /* PNGファイルのパスを指定 */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#clover-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden; /* コンテナ内でのオーバーフローを隠す */
}